package app;

import com.github.lalyos.jfiglet.FigletFont;
import dev.jeka.core.tool.JkDep;

// Declare here, production dependencies
${inject}
@JkDep("com.github.lalyos:jfiglet:0.0.9")
public class App {

    public static void main(String[] args) throws Exception {
        System.out.println(FigletFont.convertOneLine("Hello JeKa"));
    }

}