package _dev;

import dev.jeka.core.api.system.JkInfo;
import dev.jeka.core.tool.JkJekaVersionRanges;
import dev.jeka.core.tool.KBean;
import dev.jeka.core.tool.JkDep;
import dev.jeka.core.tool.JkPostInit;
import dev.jeka.core.tool.builtins.base.BaseKBean;

// Declare non-prod dependencies here (build, tests, compile-only deps)
${inject}
class Custom extends KBean {

    @JkPostInit
    private void postInit(BaseKBean baseKBean) {
        baseKBean.setModuleId("my-group:my-artifactId");

        // It's generally good to version the plugin from the current jeka version it is supporting.
        baseKBean.setVersion(JkInfo.getJekaVersion() + "-0");

        // Optionally, specify the compatible Jeka version range for this plugin.
        JkJekaVersionRanges.setCompatibilityRange(baseKBean.getManifest(), fromVersion(), breakingChangeFileUrl());
    }

    // Specify the minimum JeKa version required for this plugin, typically the version used during development
    private String fromVersion() {
        return JkInfo.getJekaVersion();
    }

    // Replace with your location or use null to skip the upper compatibility limit
    private String breakingChangeFileUrl() {
        return "https://raw.githubusercontent.com/jeka-dev/openapi-plugin/master/breaking_versions.txt";
    }

}