/.jeka-work/
/jeka-output/
/samples/samples.project-app/.idea/output/
/samples/samples.sonarqube/.idea/output/
/.idea/output/
/.env
/plugins/plugins.centralportal/private.key
.DS_Store
**/.DS_Store
/jeka-bin/
**/bin/
**/.project
**/.classpath
**/.settings/
