/.jeka-work/
/jeka-output/
/samples/samples.project-app/.idea/output/
/samples/samples.sonarqube/.idea/output/
/.idea/output/
/.env
/plugins/plugins.centralportal/private.key
/plugins/plugins.centralportal/private.key
