site_name: JeKa Build Tool
theme:
    name: material
    highlight_theme: dracula
    logo: images/logo-plain-white.svg
    favicon: images/logo-plain-gradient.svg
    edit_url: https://github.com/jeka-dev/jeka/main/docs/
    font:
      text: 'Inter'
      code: 'Fire Code'
    palette :
      # Palette toggle for light mode
      # Palette toggle for dark mode
      - scheme: default
        toggle:
          icon: material/brightness-7
          name: Switch to dark mode
        primary: 'deep purple'
        accent: 'purple'
        
      - scheme: slate
        toggle:
          icon: material/brightness-4
          name: Switch to light mode
        primary: 'deep purple'
        accent: 'purple'
        favicon: images/knight-color-logo.svg

    features:
        - navigation.instant
        - navigation.tracking
        - content.code.copy
extra:
    analytics:
        provider: google
        property: UA-103449580-2

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
      line_spans: __span
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
    - Home: index.md
    - Getting Started:
        - Installation: installation.md
        - Quick Start: quick-start.md
        - Examples: examples.md
    - Core Concepts:
        - Basics: tutorials/basics.md
        - KBeans: reference/kbeans.md
        - Properties: reference/properties.md
    - Build Modes:
        - Base Mode: tutorials/build-base.md
        - Project Mode: tutorials/build-projects.md
        - Multi-Module: reference/multi-modules.md
    - Features:
        - Run Remote Apps: tutorials/run-remote-apps.md
        - Native Compilation: reference/kbeans-native.md
        - Docker Images: reference/kbeans-docker.md
        - IDE Integration:
            - IntelliJ IDEA: reference/kbeans-intellij.md
            - Eclipse: reference/kbeans-eclipse.md
        - Version Control: reference/kbeans-git.md
    - KBeans Reference:
        - base: reference/kbeans-base.md
        - project: reference/kbeans-project.md
        - native: reference/kbeans-native.md
        - docker: reference/kbeans-docker.md
        - maven: reference/kbeans-maven.md
        - git: reference/kbeans-git.md
        - app: reference/kbeans-app.md
        - bundle: reference/kbeans-bundle.md
        - setup: reference/kbeans-setup.md
        - intellij: reference/kbeans-intellij.md
        - eclipse: reference/kbeans-eclipse.md
    - API Reference:
        - Overview: reference/api-intro.md
        - Files: reference/api-files.md
        - Dependency Management: reference/api-dependency-management.md
        - Project: reference/api-project.md
        - Native: reference/api-native.md
        - Docker: reference/api-docker.md
        - Git: reference/api-git.md
    - Resources:
        - Cheat Sheet: cheat-sheet.md
        - FAQ: faq.md
        - External Resources: external-resources.md
        - Javadoc: javadoc/
        - Under The Hood: under-the-hood.md

repo_url: https://github.com/jeka-dev/jeka

extra_css:
  - stylesheets/extra.css
