import dev.jeka.core.api.project.JkProject;
import dev.jeka.core.api.system.JkInfo;
import dev.jeka.core.api.system.JkLocator;
import dev.jeka.core.tool.JkJekaVersionRanges;
import dev.jeka.core.tool.JkPostInit;
import dev.jeka.core.tool.KBean;
import dev.jeka.core.tool.builtins.project.ProjectKBean;
import dev.jeka.core.tool.builtins.tooling.maven.MavenKBean;

class Build extends KBean {

    @JkPostInit(required = true)
    private void postInit(ProjectKBean projectKBean) {
        JkProject project = projectKBean.project;
        project.compilation.dependencies
                .add(JkLocator.getJekaJarPath());

        JkJekaVersionRanges.setCompatibilityRange(project.packaging.getManifest(), JkInfo.getVersion(),
                    "https://raw.githubusercontent.com/your_org/your_repo/master/breaking_versions.txt");

        // This section is necessary to publish on a public repository
        project
            .setModuleId("your.org:plugin-name")
            .setVersion("0.0.1-SNAPSHOT");
    }

    @JkPostInit
    private void postInit(MavenKBean mavenKBean) {
        mavenKBean.customizePublication(mavenPublication -> mavenPublication
            .pomMetadata
                .addApache2License()
                .setProjectName("Jeka plugin for ....")
                .setProjectDescription("A Jeka plugin for ...")
                .setProjectUrl("https://github.com/your_org/your_repo")
                .setScmUrl("https://github.com/your_org/your_repo"));
    }

}