import dev.jeka.core.api.project.JkProject;
import dev.jeka.core.tool.JkPostInit;
import dev.jeka.core.tool.JkPreInit;
import dev.jeka.core.tool.KBean;
import dev.jeka.core.tool.builtins.project.ProjectKBean;

class Custom extends KBean {

    /*
     * Use this method to set ProjectKBean public fields without overriding values injected form props or command-line.
     */
    @JkPreInit
    private static void preInit(ProjectKBean projectKBean) {
    }

    /*
    * Use this method to fine-tune 'project' KBean after its initialization.
     */
    @JkPostInit(required = true)
    private void postInit(ProjectKBean projectKBean) {
        JkProject project = projectKBean.project;
    }

}
