import dev.jeka.core.api.project.JkProject;
import dev.jeka.core.tool.JkPostInit;
import dev.jeka.core.tool.JkPreInit;
import dev.jeka.core.tool.KBean;
import dev.jeka.core.tool.builtins.project.ProjectKBean;

/*
 * Class to configure the build in code.
 * Any KBean can be configured here.
 * Add public void no-arg methods to create tasks you can run from the command line.
 * Add @JkDep class annotations to use third-party libraries in jeka-src code.
 */
class Custom extends KBean {

    /*
     * Sets ProjectKBean fields without overriding values from properties or command-line.
     */
    @JkPreInit
    private static void preInit(ProjectKBean projectKBean) {
    }

    /*
     * Fine-tunes 'project' KBean after initialization.
     */
    @JkPostInit
    private void postInit(ProjectKBean projectKBean) {
        JkProject project = projectKBean.project;
    }

}
