import org.jerkar.tool.JkBuild;
import org.jerkar.tool.JkInit;

/**
 * @formatter:off
 */
class Build extends JkBuild {

    public static void main(String[] args) {
        JkInit.instanceOf(Build.class, args).doDefault();
    }

}