import dev.jeka.core.api.java.JkJavaVersion;
import dev.jeka.core.api.project.JkProject;
import dev.jeka.core.api.system.JkLocator;
import dev.jeka.core.tool.JkClass;
import dev.jeka.core.tool.JkPlugin;
import dev.jeka.core.tool.builtins.project.JkPluginProject;

class Build extends JkClass {

    final JkPluginProject projectPlugin = getPlugin(JkPluginProject.class);

    @Override
    protected void setup() {
        JkProject javaProject = projectPlugin.getProject();
        javaProject.simpleFacade()
            .setJvmTargetVersion(JkJavaVersion.V8)
            .setCompileDependencies(deps -> deps
                .andFiles(JkLocator.getJekaJarPath())
            );
        JkPlugin.setJekaPluginCompatibilityRange(javaProject.getConstruction().getManifest(),
                "${jekaVersion}",
                "https://raw.githubusercontent.com/your_org/your_repo/master/breaking_versions.txt");

        // This section is necessary to publish on a public repository
        javaProject.getPublication()
                .getMaven()
                    .setModuleId("your.org:plugin-name")
                    .setVersion("0.0.1-SNAPSHOT")
                    .getPomMetadata()
                        .addApache2License()
                        .setProjectName("Jeka plugin for ....")
                        .setProjectDescription("A Jeka plugin for ...")
                        .setProjectUrl("https://github.com/your_org/your_repo")
                        .setScmUrl("https://github.com/your_org/your_repo");
    }

    public void cleanPack() {
        clean(); projectPlugin.pack();
    }

}