import dev.jeka.core.api.java.JkJavaVersion;
import dev.jeka.core.tool.JkBean;
import dev.jeka.core.tool.builtins.project.ProjectJkBean;

class Build extends JkBean {

    final ProjectJkBean projectPlugin = getRuntime().getBeanRegistry().get(ProjectJkBean.class);

    /*
     * Configures plugins to be bound to this command class. When this method is called, option
     * fields have already been injected from command line.
     */
    @Override
    protected void init() {
        projectPlugin.getProject().simpleFacade()
            .setJvmTargetVersion(JkJavaVersion.V8)
            .setCompileDependencies(deps -> deps
                .and("com.google.guava:guava:21.0")
            )
            .setTestDependencies(deps -> deps
                .and("org.junit.jupiter:junit-jupiter:5.8.1")
            )

            // Only necessary if your project is published in a binary repository.
            .setPublishedMavenModuleId("your.group:your.project")
            .setPublishedMavenVersionFromGitTag();  // Version inferred from Git
    }

    public void cleanPack() {
        clean(); projectPlugin.pack();
    }

}
