import dev.jeka.core.api.java.JkJavaVersion;
import dev.jeka.core.api.project.JkProject;
import dev.jeka.core.api.system.JkLocator;
import dev.jeka.core.tool.JkBean;
import dev.jeka.core.tool.JkJekaVersionCompatibilityChecker;
import dev.jeka.core.tool.builtins.project.ProjectJkBean;

class Build extends JkBean {

    final ProjectJkBean projectBean = getBean(ProjectJkBean.class).configure(this::configure);

    private void configure(JkProject project) {
        project.simpleFacade()
            .setJvmTargetVersion(JkJavaVersion.V8)
            .configureCompileDeps(deps -> deps
                    .andFiles(JkLocator.getJekaJarPath())
            );

        JkJekaVersionCompatibilityChecker.setCompatibilityRange(project.getConstruction().getManifest(),
                "${jekaVersion}",
                "https://raw.githubusercontent.com/your_org/your_repo/master/breaking_versions.txt");

        // This section is necessary to publish on a public repository
        project.getPublication()
                .setModuleId("your.org:plugin-name")
                .setVersion("0.0.1-SNAPSHOT")
                .getMaven()
                    .getPomMetadata()
                        .addApache2License()
                        .setProjectName("Jeka plugin for ....")
                        .setProjectDescription("A Jeka plugin for ...")
                        .setProjectUrl("https://github.com/your_org/your_repo")
                        .setScmUrl("https://github.com/your_org/your_repo");
    }

    public void cleanPack() {
        clean(); projectBean.pack();
    }

}