package your.basepackage;

import dev.jeka.core.tool.JkDoc;
import dev.jeka.core.tool.JkBean;

/**
 * A Jeka plugin cain contains zero, one or many KBeans.
 * If your plugin does not require one, fell free to delete this class.
 */
@JkDoc("Explain here what your plugin is doing.\n" +
    "No need to list methods or options here has you are supposed to annotate them directly.")
public class XxxxxJkBean extends JkBean {

    @JkDoc("All public fields will be exposed as KBean . Rewrite this comment to document it.")
    public String yourParam = "aDefaultValue";

    @JkDoc("All public no-args methods returning void will be exposed as plugin method. \n"
      + "Rewrite this comment to document it.")
    public void yourMethod() {
    }

}
