import dev.jeka.core.api.project.JkProject;
import dev.jeka.core.tool.KBean;
import dev.jeka.core.tool.builtins.project.ProjectKBean;

class Build extends KBean {

    final JkProject project = load(ProjectKBean.class).project;

    /*
     * Configures plugins to be bound to this command class. When this method is called, option
     * fields have already been injected from command line.
     */
    @Override
    protected void init() {

        project.flatFacade()
                .addCompileDeps(
                        "com.google.guava:guava:21.0",
                        "org.slf4j:slf4j-simple:2.0.9"
                )
                .addCompileOnlyDeps(
                        "org.projectlombok:lombok:1.18.30"
                )
                .addTestDeps(
                        "org.junit.jupiter:junit-jupiter:5.9.2"
                )

                // Only necessary if your project is published in a binary repository.
                .setModuleId("your.org:project-name")
                .setVersion("0.0.1-SNAPSHOT");
    }

}
