.menuItem0 {
    font-size: 1.5em;
    border-bottom: 1px solid #cccccc;
}
.menuItem1 {
    font-weight: bold;
    font-size: x-large;
}
.menuItem2 {
    margin-left: 2em;
    font-size: large;
    font-weight: bold;
}
.menuItem3 {
    margin-left: 4em;
    font-weight: bold;
}
.menuItem4 {
    margin-left: 6em;
}
.menuItem5 {
    margin-left: 8em;
}