import dev.jeka.core.tool.JkBean;
import dev.jeka.core.tool.JkInit;

class Build extends JkBean {

    public static void main(String[] args) throws Exception {
        Build build = JkInit.instanceOf(Build.class, args);
        build.clean();
    }

}