import dev.jeka.core.tool.JkCommands;
import dev.jeka.core.tool.JkInit;

/**
 * @formatter:off
 */
class Commands extends JkCommands {

    public static void main(String[] args) throws Exception {
        Commands commands = JkInit.instanceOf(Commands.class, args);
        commands.clean();
    }

}