import dev.jeka.core.tool.JkCommands;
import dev.jeka.core.tool.JkInit;

/**
 * @formatter:off
 */
class Build extends JkCommands {

    public static void main(String[] args) throws Exception {
        Build build = JkInit.instanceOf(Build.class, args);
        build.clean();
    }

}