import dev.jeka.core.tool.JkRun;
import dev.jeka.core.tool.JkInit;

/**
 * @formatter:off
 */
class Build extends JkRun {

    public static void main(String[] args) throws Exception {
        Build build = JkInit.instanceOf(Build.class, args);
        build.clean();
    }

}