package _dev;

import dev.jeka.core.api.system.JkInfo;
import dev.jeka.core.tool.JkJekaVersionRanges;
import dev.jeka.core.tool.KBean;
import dev.jeka.core.tool.JkDep;
import dev.jeka.core.tool.JkPostInit;
import dev.jeka.core.tool.builtins.base.BaseKBean;

// Declare non-prod dependencies here (build, tests, compile-only deps)
${inject}
class Build extends KBean {

    @JkPostInit
    private void postInit(BaseKBean baseKBean) {
        baseKBean.setModuleId("my-group:my-artifactId");
        baseKBean.setVersion(JkInfo.getJekaVersion() + "-0");

        // Optionally specify the compatible Jeka version range for this plugin.
        JkJekaVersionRanges.setCompatibilityRange(baseKBean.getManifest(),

            // Specify the minimum JeKa version required for this plugin, typically the version used during development
            JkInfo.getJekaVersion(),

            // Replace with your location, or use null to skip the compatibility limit
            "https://raw.githubusercontent.com/jeka-dev/openapi-plugin/master/breaking_versions.txt");
    }

}