package org.example;

import dev.jeka.core.tool.KBean;
import dev.jeka.core.tool.JkDep;

// Declare prod dependencies here
public class MyPlugin extends KBean {

    @Override
    protected void init() {

    }

}