package _dev.samples;

import dev.jeka.core.tool.JkInject;
import dev.jeka.core.tool.KBean;
import org.example.MyPlugin;

// Experiment your plugin here. Add as many sample KBeans as needed.
class Sample1 extends KBean {

    @JkInject
    private MyPlugin myPlugin;

}