import dev.jeka.core.tool.JkDoc;
import dev.jeka.core.tool.KBean;

// Declare script dependencies using :
// @JkInjectClasspath("groupId:moduleId:version")
// or using JBang '//DEPS groupId:moduleId:version' comments
class Script extends KBean {

    @JkDoc("Person to whom the greeting is intended")
    public String name = "World";

    @JkDoc("Print greeting on console")
    public void hello() {
        String greetings = "Hello " + name + " !";
        System.out.println(greetings);
    }

}