h1 {
    counter-reset : h2counter;
}
h2 {
    counter-reset : h3counter;
}
h3 {
    counter-reset : h4counter;
}
h4 {
    counter-reset : h5counter;
}
h2:before {
    content : counter(h2counter) ".\0000a0\0000a0";
    counter-increment : h2counter;

}
h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment : h3counter;
}
h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;

}
h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}
